.label {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  font-family: var(--fontBold);
}

.inputTextNumberPassword {
  border: none;
  border-bottom: 2px solid var(--colorTwo);
  width: 100%;
  padding: 10px 25px;
  outline: none;
  color: var(--colorOne);
}

.inputCheckbox {
  display: flex;
  column-gap: 10px;
}

.input-error {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-end;
}

.input-error__text {
  color: var(--colorThree);
  font-size: 14px;
}
