.button {
  font-family: var(--fontBold);
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
}

.button--basic {
  background-color: var(--colorThree);
  color: var(--colorWhite);
}

.button--basic:hover {
  background-color: var(--colorFour);
}

.button--second {
  background: none;
  border: 2px solid var(--colorOne);
  color: var(--colorOne);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button--second:hover {
  background-color: var(--colorOne);
  color: var(--colorWhite);
}

.button--full-width {
  width: 100%;
}

.button--flex-width {
  width: 135px;
}
